<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <div>
        <i class="fas fa-subway text-danger me-3"></i><a class="navbar-brand">Ticketac</a>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-lg-none">
            <li class="nav-item">
              <a class="navbar-brand text-danger">Connection</a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand">My last trips</a>
            </li>
          </ul>
        </div>
        </div>
    <div class="d-flex d-none d-lg-block">
      <a class="navbar-brand text-danger">Connection</a>
      <a class="navbar-brand">My last trips</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
</nav>
