<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
  <div class="container-fluid">
      <div>
        <a class="navbar-brand" href="/home">
          <img class="img-fluid me-2" src="/images/train.png"  style="max-width: 26px" alt="train">Ticketac</a>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-lg-none">
            <li class="nav-item">
              <a class="navbar-brand text-danger" href="/">Connection</a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" href="/home/mytrips">My last trips</a>
            </li>
          </ul>
        </div>
        </div>
    <div class="d-flex d-none d-lg-block">
      <a class="navbar-brand text-danger" href="/">Connection</a>
      <a class="navbar-brand" href="/home/mytrips">My last trips</a>
      <img src="images/shopping-bag.svg" class="shopping">
      <span  class="load"><span class="badge badge-pill badge-dark count">
    0</span><span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
</nav>
