<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Ticketac</a>
    <div class="d-flex">
      <a class="navbar-brand">Connection</a>
      <a class="navbar-brand">My last trips</a>
    </div>
  </div>
</nav>
