<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
      <div>
        <i class="fas fa-subway text-danger me-3"></i><a class="navbar-brand">Ticketac</a>
        </div>
    <div class="d-flex">
      <a class="navbar-brand text-danger">Connection</a>
      <a class="navbar-brand">My last trips</a>
    </div>
  </div>
</nav>
